/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: black;
  margin: 0;
  height: 100vh;
  background: white;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.sidepanel {
  left: 0;
  height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.editor {
  width: 90%;
  margin: 1rem auto;
}

.editorContainer {
  width: 100%;
  overflow-y: scroll;
}

html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

iframe {
  width: 100%;
  border: 1px solid #eee;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}

.titleBar {
  height: 20px;
  width: 100%;
  -webkit-app-region: drag;
}

.highlightSelected {
  background-color: rgba(25, 51, 52, 0.612) !important;
}

.darkBtn {
  color: black;
}

.lightBtn {
  color: white;
}

.keyboardShortcutIcon {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(170, 170, 170, 0.287);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}

.keyboardShortcutList {
  position: absolute;
  right: 30px;
  top: 100px;
  z-index: 100;
  background-color: white;
  animation-name: example;
  animation-duration: 0.5s;
}
@keyframes example {
  from {
    transform: translateX(320px);
  }
  to {
    transform: translateX(0);
  }
}

.keyboardShotcutListItem {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0.5rem;
}

.bold {
  font-weight: 500;
  margin: 0 1rem;
}

.italic {
  font-style: italic;
  margin: 0 1rem;
}

.underline {
  text-decoration: underline;
  margin: 0 1rem;
}
.code {
  background-color: rgba(170, 170, 170, 0.287);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.header1 {
  margin: 0 1rem;
  font-size: 20px;
}

.header2 {
  margin: 0 1rem;
  font-size: 18px;
}

.format {
  margin: 0 1rem;
}

.shortcutCommand {
  background-color: rgba(170, 170, 170, 0.287);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
